body {
  margin: 0;
  font-family: sans-serif;
  color: white;
  background-color: black;
  text-align: center;
}

.scene-title {
  padding: 20px;
}

.scene {
  position: relative;
  width: 1045px;
  height: 864px;
  margin: 0 auto;
  background: url("darkroom.png") no-repeat center center;
  background-size: cover;
}

.item {
  position: absolute;
  cursor: pointer;
}

/* positions */
#frame {
  width: 91px;
  height: 112px;
  top: 211px;
  left: 568px;
}

#lens {
  width: 95px;
  height: 91px;
  top: 568px;
  left: 407px;
}

#polaroid {
  width: 45px;
  height: 74px;
  top: 260px;
  left: 250px;
}

.item.found {
  pointer-events: none;
}

.found-items {
  margin: 20px;
}
